body {
	background:#CCC;
	font-family: 'Lucida Grande';
	font-size: 11px;
	margin:25px;
}

a {
	text-decoration:none;
	font-weight:bold;
	color:#000;
}

a:hover {
	text-decoration:underline;
}

a img {
	border:none;
}

h1 {
	color:#333;
	margin:0 0 .5em;
	font-size:20px;
}

h1 a {
	color:#000;
	text-decoration:none;
}

h2 {
	font-size:13px;
	margin:1em 0 .5em;
}

#page {
	margin: 0;
	margin-bottom: 10px;
	padding:15px 0;
}

fieldset {
	border: none;
}

label {
	display:block;
	font-weight:bold;
	margin:.5em 0 0;
}

#spinner {
	float: right;
	margin: 10px;
}



#photos, h1 {
	margin-left:230px;
}

#photos img {
	border: 5px solid #FFF;
	margin: 0 10px 10px 0;
}

#albums, #admin, #recent_posts {
	float:left;
	clear:left;
	width: 210px;
}

#albums ul, #admin ul {
	margin:0;
	padding:0;
	clear:both;
}

#albums ul li, #admin ul li {
	margin:5px 5px 5px 0;
	background:#666;
	list-style-type:none;
	width:210px;
}

#albums img, #admin img {
	vertical-align:middle;
}

#albums a, #admin a, #image_destroy a {
	color:#FFF;
	padding:5px;
	text-decoration:none;
	display:block;
}

#albums a:hover, #admin a:hover {
	background-color:#000;
}

.album-active {
	background:#000 !important;
}

#image_destroy a:hover {
	background-color: #900;
}

.image_destroy_active {
	background:#900 !important;
}




#lightbox{
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	}
#lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
	}	
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }
#closeButton{ top: 5px; right: 5px; }

#lightbox img{ border: none; clear: both;} 
#overlay img{ border: none; }

#overlay{ background-image: url(../images/overlay.png); }

* html #overlay{
	background-color: #333;
	back\ground-color: transparent;
	background-image: url(../images/blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/overlay.png", sizingMethod="scale");
	}


#login {
	position:absolute;
	top:50%;
	left:50%;
	margin: -100px -100px;
	background: #AAA;
	padding:20px;
	border:5px solid #333;
}

#signup_link {
	text-align:right;
}

#footer {
	margin-top:100px;
	text-align:center;
}

#login_link a {
	color:#333;
}

#login_link a:hover {
	background:none;
}

.fieldWithErrors  {
  border-left:6px solid #900;
  padding-left:2px;
}


.fieldWithErrors+label {
  margin-top:0;
}


#errorExplanation {
	width:100%;
	margin:10px 0 20px;
  	background:#FCC;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: .25em .25em .25em 35px;
  font-size: 12px;
  background:#C66 url(../images/alert.gif) no-repeat 10px 50%;
  color: #fff;
  border-top:3px solid #900;
  border-bottom:3px solid #900;
  margin-top:0;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: .5em 1em;
  font-size:11px;
  font-weight:bold;
}

#errorExplanation ul {
	margin-left:30px;
	padding:0 0 20px;
}