body {
	background:#CCC url(../images/logo.gif) no-repeat top right;
	font-family: 'Lucida Grande';
	font-size: 11px;
	margin:25px;
}

a {
	text-decoration:none;
	font-weight:bold;
	color:#000;
}

a:hover {
	text-decoration:underline;
}

a img {
	border:none;
}

h1 {
	color:#333;
	margin:0 0 .5em;
	font-size:20px;
}

h1 a {
	color:#000;
	text-decoration:none;
}

h2 {
	font-size:13px;
	margin:1em 0 .5em;
}

#page {
	margin: 0;
	margin-bottom: 10px;
	padding:15px 0;
}

fieldset {
	border: none;
}

label {
	display:block;
	font-weight:bold;
	margin:.5em 0 0;
}

#spinner {
	float: right;
	margin: 10px;
}



#photos {
	margin-left:230px;
}

#photos img {
	border: 5px solid #FFF;
	margin: 0 10px 10px 0;
}

#albums, #admin, #recent_posts {
	float:left;
	clear:left;
	width: 210px;
}

#albums ul, #admin ul {
	margin:0;
	padding:0;
	clear:both;
}

#albums ul li, #admin ul li {
	margin:5px 5px 5px 0;
	background:#666;
	list-style-type:none;
	width:210px;
}

#albums img, #admin img {
	vertical-align:middle;
}

#albums a, #admin a {
	color:#FFF;
	padding:5px;
	text-decoration:none;
	display:block;
}

#albums a:hover, #admin a:hover {
	background-color:#000;
}

.album-active {
	background:#000 !important;
}

#recent_posts {
	float:left;
	clear:left;
	width:200px;
}

#recent_posts ul {
	margin:0;
	padding:0;
}

#recent_posts ul li {
	list-style-type:none;
	margin:2px 0;
}



#lightbox{
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	}
#lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
	}	
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }
#closeButton{ top: 5px; right: 5px; }

#lightbox img{ border: none; clear: both;} 
#overlay img{ border: none; }

#overlay{ background-image: url(../images/overlay.png); }

* html #overlay{
	background-color: #333;
	back\ground-color: transparent;
	background-image: url(../images/blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/overlay.png", sizingMethod="scale");
	}


#login {
	position:absolute;
	top:50%;
	left:50%;
	margin: -100px -100px;
	background: #AAA;
	padding:20px;
	border:5px solid #333;
}

#signup_link {
	float:right;
}