<% rel = logged_in? ? "nil" : "lightbox" %>
<% url = logged_in? ? "#" : image_path(photo.to_url(:large)) %>
<% image = image_tag(photo.to_url(:thumbnail), :class=>"photo", :id=>"photo_#{photo.id}", :title=>photo.title) %>
<%= link_to image, url, :rel=>rel %>
<%= draggable_element "photo_#{photo.id}", :revert => true if logged_in? %>