<h1>New Photo</h1>

<div id="photos">
<%= error_messages_for "photo" %>

<%= start_form_tag nil, :multipart=>true %>
  <label>Title</label>
  <%= text_field "photo", "title" %>
  <label>Photo</label>
  <%= file_field_tag "file" %>
  <label>&nbsp;</label>
  <%= submit_tag "Upload" %> <%= link_to "Cancel", :controller=>"gallery", :action=>"list" %>
<%= end_form_tag %>
</div>