<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Gallery</title>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "lightbox" %>
    <%= stylesheet_link_tag "gallery" %>
  </head>
  <body>